* {
  margin: 0;
  padding: 0;
}
// mode start
.dark {
  background-color: rgba(0, 0, 0, 0.829);
  color: rgb(0, 0, 0);
}
.light {
  background-color: #fff;
  color: #333;
}

// mode end
// .cards
.card { 
  margin-bottom: 40px; 
  &:hover {
    transform: scale(1.09);
    transition: 0.3s;
  }
  .card-img-top {
    position: relative;
  }
  img {
    height: 27vh;
    object-fit: cover;
  }
  h6 {
    padding: 5px;
    background-color: red;
    margin: auto;
    border-radius: 70px;
    width: 70px;
    height: 45px;
    font-size: 25px;
    position: absolute;
    margin-top: -320px;
    margin-left: 165px;
    background-size: cover;
    color: white;
  }
  button {
    background-color: rgb(252, 84, 17);
    border: 1px solid rgb(252, 84, 17);
    &:hover {
      transition: 0.5s;
      transform: scale(1.03);
      background-color: white;
      border: 2px solid rgb(252, 84, 17);
      color: rgb(252, 84, 17);
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.parent {
  display: flex !important;
  gap: 10px;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;

  .carusel {
    width: 30rem; 
    flex: 2;
    display: flex ;
    align-items: center; 
    margin: 20px;
  }
  .info { 
    padding-top: 20px ;
    flex: 2;  
    height: 72vh;  
    display: flex;
    gap: 20px; 


    .full-info {
      width: 18rem;  
      border: 1px solid rgb(197, 192, 240);
      padding: 10px;
      height: 62vh;
      border-radius: 10px;
      background-color: rgb(70, 76, 110);
      color: white;
    }
  }
}
@media (max-width:1000px) {
  .parent {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
  
    .carusel {
      width: 40rem;
      height: 20vh;
      flex: 6;
      display: flex ;
      flex-direction: column;
      align-items: center; 
      margin: 20px;
    }
    .info { 
      flex: 3; 
    padding-top: 20px ; 
    display: flex;
    align-items: center;
    justify-content: center;
      font-size: 10px;
    }
  }
}
@media (max-width:720px) {
  .parent {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
  
    .carusel {
      width: 30rem;
      height: 20vh;
      flex:3;
      display: flex ;
      flex-direction: column;
      align-items: center; 
      margin: 20px;
    }
    .info {  
       padding-top: 20px ;  
      font-size: 10px;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
  }
}
@media (max-width:545px) {
  .parent {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
  
    .carusel {
      width: 27rem;
      height: 20vh;
      flex:3;
      display: flex ;
      flex-direction: column;
      align-items: center; 
      margin: 20px;
    }
    .info {  
       padding-top: 20px ;  
      font-size: 10px;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
  }
}

.footer {
  width: 81%;
  margin: auto;
}
